.choice-container {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4rem;
    background: rgb(18, 93, 255);
    font-size: 3rem;
    min-width: 80rem;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(6, 103, 247, 0.5);
    transition: transform 150ms;
    transform: scale(1.03);
}

.choice-prefix {
    padding: 2rem 2.5rem;
    color: white;
}

.choice-text {
    padding: 2rem;
    width: 100%;
}

.correct {
    background: linear-gradient(32deg, rgba(11, 223, 36) 0%, rgb(41, 232, 111) 100%);
}

.incorrect {
    background: linear-gradient(32deg, rgba(230, 29, 29, 1) 0%, rgb(224, 11, 11, 1) 100%);
}

#endOfGame {
    display: none;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#end__title {
    color: white;
    font-size: 5.4rem;
    margin-bottom: 5rem;
}

#game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

/* Heads Up Display */
#hud {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
    color: white;
}

.hud-main-text {
    text-align: center;
}

@media screen and (max-width: 768px) {
    .choice-container {
        min-width: 40rem;
    }
}

#progressBar {
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid rgb(11, 223, 36);
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    width: 0%;
    background: rgb(11, 223, 36);
}

#question {
    display: flex;
    color: white;
    font-size: 4.2rem;
    max-width: 80rem;
    padding-bottom: 4rem;
}

#score {
    font-size: 5.4rem;
    color:white;
    margin-bottom: 5rem;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}